<div>
  <div class="logo">
    <img src="../../../../assets/images/logo.png" alt="Logo of therapyapp">
  </div>
  <div fxLayout="column" fxLayoutGap="10px" class="content">
    <tui-accordion [rounded]="false">
      <tui-accordion-item
        *ngFor="let page of pages"
        [routerLink]="page.routerLink"
        [showArrow]="page.multiMenu"
        [disabled]="!page.multiMenu"
      >
        <div class="feature-route">
          <i-feather
            [class.active]="page.active"
            [name]="page?.icon"
          ></i-feather>
          <span
            class="title"
            [class.active]="page.active"
            >{{ page?.caption }}
          </span>
        </div>
        <ng-template tuiAccordionItemContent>
          <div class="sub-pages" *ngFor="let childpage of page.childPages">
            <a [routerLink]="page.routerLink">{{ childpage.caption }}</a>
          </div>
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>
  </div>
</div>
