<div
  [@onSideNavChange]="sideNavState ? 'open' : 'close'"
>
  <div fxLayout="column" fxLayoutGap="10px" class="content">
    <div>
      <mat-nav-list>
        <a mat-list-item *ngFor="let page of pages" [routerLink]="page.link">
          <i-feather [class.active]="page.active" [name]="page?.icon"></i-feather>
          <span [class.active]="page.active" class="title" [@animateText]="linkText ? 'show' : 'hide'"
            >{{ page?.name }}
          </span>
        </a>
      </mat-nav-list>
    </div>
  </div>
</div>
