<tui-tabs [(activeItemIndex)]="activeItemIndex" class="mb-2">
  <button tuiTab>General</button>
  <button tuiTab>Observations</button>
  <button tuiTab>Findings</button>
  <button tuiTab>Data Store</button>
</tui-tabs>
<div class="row">
  <div class="col-4">
    <tui-island
      [class.tui-skeleton]="loadingService.initialLoading$ | async"
      [class.fade-in-animated]="!(loadingService.initialLoading$ | async)"
    >
      <h3 class="tui-island__category">Personal information</h3>
      <div class="row">
        <div class="col-auto">
          <tui-avatar size="xl" [text]="personalInfo.fullName"></tui-avatar>
        </div>
        <div class="col-auto">
          <label tuiLabel label="Full name">{{ personalInfo.fullName }}</label>
          <label tuiLabel label="Birthdate">{{ personalInfo.birthdate }}</label>
          <label tuiLabel label="Gender">{{ personalInfo.gender }}</label>
        </div>
      </div>
    </tui-island>
  </div>
  <div class="col-8">
    <tui-island
      [class.tui-skeleton]="loadingService.initialLoading$ | async"
      [class.fade-in-animated]="!(loadingService.initialLoading$ | async)"
    >
      <h3 class="tui-island__category">Contact information</h3>
      <div class="row">
        <div class="col-4">
          <label tuiLabel label="Phonenumber">{{
            contactInfo.phonenumber
          }}</label>
          <label tuiLabel label="Email">{{ contactInfo.email }}</label>
        </div>
        <div class="col-4">
          <label tuiLabel label="City">{{ contactInfo.city }}</label>
          <label tuiLabel label="Address">{{ contactInfo.address }}</label>
        </div>
        <div class="col-4">
          <label tuiLabel label="Postalcode">{{ contactInfo.postalcode }}</label>
          <label tuiLabel label="Canton">{{ contactInfo.city }}</label>
          <label tuiLabel label="Country">{{ contactInfo.country }}</label>
        </div>
      </div>
    </tui-island>
  </div>
</div>
