button {
  width: 175px;
  max-height: 50px;
  white-space: nowrap;
}

tui-island {
  min-height: 250px;
  &.short {
    height: calc(100% - 32.5px);
    min-height: 150px;
    tui-line-chart {
      height: 75px;
    }
  }
  .chart {
    display: flex;
    align-items: center;
  }
}

.calendar {
  min-height: calc(100% - 25px);
}

tui-tabs {
  height: 50px;
}

tui-line-chart {
  height: 12.5rem;
  width: 100%;
  color: #bc71c9;
  &.worked-hours {
    color: #80ed99;
  }
}

.welcome-text {
  min-width: 250px;
}

.sub-icon {
  width: 35px;
  height: 25px;
}
