<h1>Dashboard</h1>
<div class="row justify-content-between">
  <span class="col">Hello, Muster</span>
  <div class="row col">
    <button class="col" tuiButton type="button" appearance="secondary">
      test
    </button>
    <button class="col" tuiButton type="button" appearance="secondary">
      test
    </button>
    <button class="col" tuiButton type="button" appearance="secondary">
      test
    </button>
    <button class="col" tuiButton type="button" appearance="secondary">
      test
    </button>
  </div>
</div>
<div class="row">
  <div class="col-4">next appointment</div>
  <div class="col-4">placeholer</div>
  <div class="col-4">hours worked</div>
</div>
<div class="row">
  <div class="col-6">
    <div>tasks</div>
    <div>analytics</div>
  </div>
  <div class="col-6">daily calendar</div>
</div>
