<h1 class="tui-text_h6">Dashboard</h1>
<div class="row justify-content-between mb-3">
  <div class="mb-2 tui-text_h4 col-auto">
    <div
      [class.tui-skeleton]="loadingService.initialLoading$ | async"
      [class.fade-in-animated]="!(loadingService.initialLoading$ | async)"
      class="welcome-text"
    >Hi, {{ ($userName | async) }}</div>
  </div>
  <div class="d-flex justify-content-lg-end col-auto row">
    <button class="col-md-4 mx-2 mb-2" tuiButton type="button" appearance="secondary">
      New meeting
    </button>
    <button class="col-md-4 mx-2 mb-2" tuiButton type="button" appearance="secondary">
      New task
    </button>
    <button class="col-md-4 mx-2 mb-2" tuiButton type="button" appearance="secondary">
      New report
    </button>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 mb-3">
    <div
      class="content-island-short p-3"
      [class.tui-skeleton]="loadingService.initialLoading$ | async"
      [class.fade-in-animated]="!(loadingService.initialLoading$ | async)"
    >
      <h3>next appointment</h3>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div
      class="content-island-short p-3"
      [class.tui-skeleton]="loadingService.initialLoading$ | async"
      [class.fade-in-animated]="!(loadingService.initialLoading$ | async)"
    >
      <h3>yes</h3>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div
      class="content-island-short p-3"
      [class.tui-skeleton]="loadingService.initialLoading$ | async"
      [class.fade-in-animated]="!(loadingService.initialLoading$ | async)"
    >
      <h3>hours worked</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div
      class="content-island mb-3 p-3"
      [class.tui-skeleton]="loadingService.initialLoading$ | async"
      [class.fade-in-animated]="!(loadingService.initialLoading$ | async)"
    ><h3>tasks</h3></div>
    <div class="content-island mb-3 p-3"
      [class.tui-skeleton]="loadingService.initialLoading$ | async"
      [class.fade-in-animated]="!(loadingService.initialLoading$ | async)"
    >
      <h3>analytics</h3>
      <tui-line-chart
        [x]="0"
        [y]="0"
        [width]="400"
        [height]="200"
        [smoothingFactor]="50"
        [value]="value"
        [filled]="true"
      ></tui-line-chart>
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <div class="content-island calendar p-3"
      [class.tui-skeleton]="loadingService.initialLoading$ | async"
      [class.fade-in-animated]="!(loadingService.initialLoading$ | async)"
    ><h3>daily calendar</h3></div>
  </div>
</div>
