<h1 class="tui-text_h6">Dashboard</h1>
<div class="row justify-content-between mb-3">
  <div class="mb-2 tui-text_h4 col-auto">
    <div
      [class.tui-skeleton]="loadingService.initialLoading$ | async"
      [class.fade-in-animated]="!(loadingService.initialLoading$ | async)"
      class="welcome-text"
    >
      Hi, {{ $userName | async }}
    </div>
  </div>
  <div class="d-flex justify-content-lg-end col-auto row">
    <button
      class="col-md-4 mx-2 mb-2"
      tuiButton
      type="button"
      appearance="secondary"
    >
      New report
    </button>
    <button
      class="col-md-4 mx-2 mb-2"
      tuiButton
      type="button"
      appearance="secondary"
    >
      New Meeting
    </button>
    <button
      class="col-md-4 mx-2 mb-2"
      tuiButton
      type="button"
      appearance="secondary"
      icon="tuiIconPlay"
    >
      Badge in
    </button>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 mb-3">
    <tui-island
      class="short"
      [class.tui-skeleton]="loadingService.initialLoading$ | async"
      [class.fade-in-animated]="!(loadingService.initialLoading$ | async)"
    >
      <p class="tui-island__category">Up next</p>
      <h3 class="tui-island__title">{{ nextAppointment.type }}</h3>
      <div class="tui-island__paragraph">
        <div>{{ nextAppointment.date.toLocaleTimeString() }} - {{ nextAppointment.date.toLocaleTimeString() }}</div>
        <div class="row">
          <div class="col-auto sub-icon">
            <tui-svg src="tuiIconPin"></tui-svg>
          </div>
          <div class="col-auto">{{ nextAppointment.room }}</div>
        </div>
        <!-- <div class="row justify-content-end">
          <tui-avatar
            *ngFor="let person of nextAppointment.people"
            [title]="person.Fullname"
            [text]="person.Fullname"
            [rounded]="true"
            [autoColor]="true"
          ></tui-avatar>
        </div> -->
      </div>
    </tui-island>
  </div>
  <div class="col-sm-4 mb-3">
    <tui-island
      class="short"
      [class.tui-skeleton]="loadingService.initialLoading$ | async"
      [class.fade-in-animated]="!(loadingService.initialLoading$ | async)"
    >
      <p class="tui-island__category">Scheduled appointments</p>
      <div class="row">
        <div class="col">
          <h3 class="tui-island__title mb-0">{{ appoiontmentsScheduled.day }} Appointments</h3>
          <div class="tui-island__paragraph">Today</div>
        </div>
        <div class="col chart">
          <tui-line-chart
          [x]="0"
          [y]="0"
          [width]="4"
          [height]="24"
          [smoothingFactor]="30"
          [value]="workload"
          [filled]="true"
          ></tui-line-chart>
        </div>
      </div>
      <!-- <div class="tui-island__paragraph">
        <div class="row justify-content-between">
          <div class="col-auto">Week</div>
          <div class="col-auto tui-text_body-m">
            {{ appoiontmentsScheduled.week }}
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-auto">Month</div>
          <div class="col-auto tui-text_body-m">
            {{ appoiontmentsScheduled.month }}
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-auto">Total</div>
          <div class="col-auto tui-text_body-m">
            {{ appoiontmentsScheduled.total }}
          </div>
        </div>
      </div> -->
    </tui-island>
  </div>
  <div class="col-sm-4 mb-3">
    <tui-island
      class="short"
      [class.tui-skeleton]="loadingService.initialLoading$ | async"
      [class.fade-in-animated]="!(loadingService.initialLoading$ | async)"
    >
      <p class="tui-island__category">Time worked</p>
      <div class="chart mb-2">
        <tui-line-chart
        [x]="0"
        [y]="0"
        [width]="4"
        [height]="24"
        [smoothingFactor]="30"
        [value]="workload"
        [filled]="true"
        ></tui-line-chart>
      </div>
      <h3 class="tui-island__title mb-0">{{ secondsWorked.day / 60 / 60 | number: ".1-1" }} h worked</h3>
      <div class="tui-island__paragraph">Today</div>
      <!-- <div class="tui-island__paragraph">
        <div class="row justify-content-between">
          <div class="col-auto">Week</div>
          <div class="col-auto tui-text_body-m">
            {{ secondsWorked.week / 60 / 60 | number: ".1-1" }} h
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-auto">Month</div>
          <div class="col-auto tui-text_body-m">
            {{ secondsWorked.month / 60 / 60 | number: ".1-1" }} h
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-auto">Total</div>
          <div class="col-auto tui-text_body-m">
            {{ secondsWorked.total / 60 / 60 | number: ".1-1" }} h
          </div>
        </div>
      </div> -->
    </tui-island>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <tui-island
      class="mb-3"
      [class.tui-skeleton]="loadingService.initialLoading$ | async"
      [class.fade-in-animated]="!(loadingService.initialLoading$ | async)"
    >
      <h3 class="tui-island__category">News</h3>
      <div class="row justify-content-between">
        <div class="col-auto">
          <h4 class="col-auto tui-text_h6">{{ news.title }}</h4>
          <div>{{ news.description }}</div>
        </div>
        <div class="col-auto">
          <tui-avatar
            [title]="news.author.Fullname"
            [text]="news.author.Fullname"
            [rounded]="true"
            [autoColor]="true"
          ></tui-avatar>
        </div>
      </div>
    </tui-island>
    <tui-island
      class="mb-3"
      [class.tui-skeleton]="loadingService.initialLoading$ | async"
      [class.fade-in-animated]="!(loadingService.initialLoading$ | async)"
    >
      <h3 class="mb-2 tui-island__category">Workload</h3>
      <tui-line-chart
        [x]="0"
        [y]="0"
        [width]="4"
        [height]="24"
        [smoothingFactor]="30"
        [value]="workload"
        [filled]="true"
      ></tui-line-chart>
    </tui-island>
  </div>
  <div class="col-md-6 mb-3">
    <tui-island
      class="calendar"
      [class.tui-skeleton]="loadingService.initialLoading$ | async"
      [class.fade-in-animated]="!(loadingService.initialLoading$ | async)"
    >
      <h3 class="tui-island__category">Appointments</h3>
      <tui-tabs class="mb-3">
        <button tuiTab>Next appointments</button>
        <button tuiTab>Ended appointments</button>
      </tui-tabs>
      <div
        class="row justify-content-between mb-3"
        *ngFor="let appointment of appointments"
      >
        <div class="col-auto">
          <div class="tui-text_h6">
            {{ appointment.type }}
          </div>
          <div>
            {{ appointment.date.toLocaleTimeString() }} -
            {{ appointment.date.toLocaleTimeString() }}
          </div>
        </div>
        <div class="col-auto">
          <tui-avatar
            *ngFor="let person of nextAppointment.people"
            [title]="person.Fullname"
            [text]="person.Fullname"
            [rounded]="true"
            [autoColor]="true"
          ></tui-avatar>
        </div>
      </div>
    </tui-island>
  </div>
</div>
