button {
  width: 175px;
  max-height: 50px;
}

tui-island {
  height: 250px;
  &.short {
    height: 150px;
  }
  .chart {
    height: 75px;
    tui-line-chart {
      height: 75px;
    }
  }
}

.calendar {
  min-height: calc(100% - 25px);
}

tui-line-chart {
  height: 12.5rem;
  width: 100%;
  color: #bc71c9;
}

.welcome-text {
  min-width: 250px;
}

.sub-icon {
  width: 35px;
  height: 25px;
}
