nav.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 64px;
  background-color: #FFF;
  div {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: auto 0;
  }
}

nav.side-nav {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  width: 75px;
  min-height: 100%;
}

mat-drawer-container {
  width: 100%;
  height: 100%;
}


// max width adjusted to sidenav

@media (max-width: 768px) {
  .side-nav {
    display: none;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: calc(960px - 125px);
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: calc(1140px - 125px);
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: calc(1320px - 125px);
  }
}
