<app-side-nav-content class="side-nav"></app-side-nav-content>
<main>
  <div class="container">
    <nav class="top-nav">
      <div class="small-nav-content">
        <a (click)="toggleSideNav(true)"
            (tuiActiveZoneChange)="toggleSideNav($event)">
          <i-feather name="menu"></i-feather>
          <div *tuiSidebar="open; direction: 'left'">
            <app-side-nav-content></app-side-nav-content>
          </div>
        </a>
        <a class="logo">therapyapp<sup>alpha</sup></a>
      </div>
      <tui-primitive-textfield
        iconAlign="left"
        tuiTextfieldSize="m"
        iconContent="tuiIconSearch"
        [tuiTextfieldLabelOutside]="true"
      >
      {{ 'SEARCH' | translate }}
      </tui-primitive-textfield>
      <tui-hosted-dropdown [content]="content">
        <tui-avatar [text]="(authService.currentUser$ | async).fullName" size="m"></tui-avatar>
      </tui-hosted-dropdown>
      <ng-template #content>
          <a class="menu-item" (click)="onSignOut()">
            <div class="icon">
              <tui-svg src="tuiIconLogoutLarge"></tui-svg>
            </div>
            <div>{{ 'SIGN_OUT' | translate }}</div>
          </a>
      </ng-template>
    </nav>
    <tui-breadcrumbs size="s">
      <ng-container *ngFor="let route of breadcrumbRoutes">
        <a *tuiBreadcrumb tuiLink [routerLink]="route.routerLink">
          {{ route.caption }}
        </a>
      </ng-container>
    </tui-breadcrumbs>
    <router-outlet></router-outlet>
  </div>
</main>
