.logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  gap: 24px;
  tui-primitive-textfield {
    width: 33%;
  }
  tui-avatar {
    cursor: pointer;
  }
  .small-nav-content {
    display: none;
    flex-direction: row;
    gap: 24px;
    i-feather {
      cursor: pointer;
    }
  }
}

.menu-item {
  cursor: pointer;
  width: 120px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  .icon {
    width: 35px;
  }
}

.side-nav {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  min-height: 100%;
  width: 275px;
  left: 0;
  position: fixed;
  transition: left 300ms ease 0s;
}

main {
  margin-left: 275px;
  background-color: rgb(240, 241, 245);
  min-height: 100vh;
  transition: margin-left 300ms ease 0s;
}

// max width adjusted to sidenav

@media (max-width: 768px) {
  tui-primitive-textfield {
    display: none;
  }
}

@media (max-width: 1200px) {
  .side-nav {
    left: -275px;
  }
  main {
    margin-left: 0;
  }
  .top-nav-small {
    top: 0;
  }

  .top-nav .small-nav-content {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: calc(1140px - 250px);
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: calc(1320px - 250px);
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: calc(1520px - 250px);
  }
}
