<app-side-nav-content></app-side-nav-content>
<main>
  <div class="container-fluid container">
    <nav>
      <tui-primitive-textfield
        iconAlign="left"
        tuiTextfieldSize="m"
        iconContent="tuiIconSearch"
      >
      Search
      </tui-primitive-textfield>
        <tui-avatar text="Maxim Hüsler" size="m"></tui-avatar>
    </nav>
    <tui-breadcrumbs size="s">
      <ng-container *ngFor="let route of breadcrumbRoutes">
        <a *tuiBreadcrumb tuiLink [routerLink]="route.routerLink">
          {{ route.caption }}
        </a>
      </ng-container>
    </tui-breadcrumbs>
    <router-outlet></router-outlet>
  </div>
</main>
