table {
  width: 100%;
  border-collapse: collapse !important;

  tbody thead tr {
    border-bottom: 1px solid var(--tui-base-03);
  }
  thead th {
    border: 0;
    padding: 1rem 1rem 0.875rem;
  }
  tbody tr {
    cursor: pointer;
  }
}
