<h1 class="tui-text_h6">Patients</h1>
<div class="filters row mb-3">
  <tui-primitive-textfield
    iconAlign="left"
    tuiTextfieldSize="l"
    iconContent="tuiIconSearch"
    class="col-md-6"
    [tuiTextfieldLabelOutside]="true"
    >
    {{ 'SEARCH' | translate }}
  </tui-primitive-textfield>
  <div class="justify-content-end">

  </div>
</div>
<div class="row">
  <table tuiTable [columns]="columns">
    <thead>
      <tr tuiThGroup>
        <th *tuiHead="'name'" tuiTh [resizable]="true">Name</th>
        <th *tuiHead="'phonenumber'" tuiTh [resizable]="true">Phone number</th>
        <th *tuiHead="'email'" tuiTh [resizable]="true">E-Mail</th>
        <th *tuiHead="'nextAppointment'" tuiTh [resizable]="true">Next Appointment</th>
        <th *tuiHead="'actions'" [sorter]="null" tuiTh></th>
      </tr>
    </thead>
    <tbody tuiTbody [data]="data"
      [class.tui-skeleton]="loadingService.initialLoading$ | async"
      [class.fade-in-animated]="!(loadingService.initialLoading$ | async)">
      <tr *tuiRow="let item of data" tuiTr>
        <td *tuiCell="'name'" tuiTd>{{ item.name }}</td>
        <td *tuiCell="'phonenumber'" tuiTd>{{ item.name }}</td>
        <td *tuiCell="'email'" tuiTd>{{ item.name }}</td>
        <td *tuiCell="'nextAppointment'" tuiTd>{{ item.name }}</td>
        <td *tuiCell="'actions'" tuiTd>
          <button
            tuiIconButton
            appearance="flat"
            size="s"
            icon="tuiIconTrash"
            title="Remove"
            shape="rounded"
            class="remove"
            (click)="remove(item)">
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
